drive/MyDrive/DFU.zip
*.zip
*.tar
*.pt
*.pth
*.onnx
*.mp4
*.mov
.ipynb_checkpoints/
.cache/
.config/
.env*
*.pem
*.key
id_rsa*
*.p12
*.pfx
*credentials*.json
client_secret*.json
*token*.json
*.zip
.ipynb_checkpoints/
.config/
.cache/
drive/
